<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wusi.reimbursement.mapper.ShuiWenWaterLevelMapper">
    <resultMap id="BaseResultMap" type="com.wusi.reimbursement.entity.ShuiWenWaterLevel">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="data" property="data" jdbcType="VARCHAR"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="down_or_up" property="downOrUp" jdbcType="INTEGER"/>
            <result column="value" property="value" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table">shui_wen_water_level</sql>
    <sql id="Base_Column_List">
            `id`,
            `data`,
            `create_time`,
            `down_or_up`,
            `value`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                    <if test="id != null">
                        AND `id`=#{id}
                    </if>
                    <if test="data != null and data != ''">
                        AND `data`=#{data}
                    </if>
                    <if test="createTime != null">
                        AND `create_time`=#{createTime}
                    </if>
                <if test="startTime != null">
                    and DATE_FORMAT(create_time,'%Y-%m-%d') >= #{startTime}
                </if>
                <if test="endTime != null">
                    and DATE_FORMAT(create_time,'%Y-%m-%d') &lt;= #{endTime}
                </if>
                <if test="downOrUp != null">
                    AND `downOrUp`=#{down_or_up}
                </if>
                <if test="value != null and value != ''">
                    AND `value`=#{value}
                </if>
            </trim>
        </where>
        order by create_time desc
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <insert id="insert" parameterType="com.wusi.reimbursement.entity.ShuiWenWaterLevel" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `data`,
            `create_time`,
            `down_or_up`,
            `value`
        )
        VALUES(
            #{id},
            #{data},
            #{createTime},
            #{downOrUp},
            #{value}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `data`,
            `create_time`,
            `down_or_up`,
            `value`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.data},
            #{cm.createTime},
            #{cm.downOrUp},
            #{cm.value}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

    <update id="updateById" parameterType="com.wusi.reimbursement.entity.ShuiWenWaterLevel">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="data != null and data != ''">
                 `data`=#{data},
            </if>
            <if test="createTime != null">
                 `create_time`=#{createTime},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <select id="queryByDate" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        where  DATE_FORMAT(create_time,'%Y-%m-%d') = #{createTime} limit 1
    </select>
    <select id="queryLastOne" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        order by id desc limit 1
    </select>
</mapper>